@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* webpage default all margin will be gone */
* {
  margin: 0;
}

/* body color style */
body {
  background: rgb(245, 245, 245);
}

/* 1st div style */
.hero-header {
  display: flex;
  height: 84px;
  background: rgb(245, 245, 245);
  justify-content: space-between;
}

/* 1st div h1 style */
.hero-header h1 {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0%;
  text-align: left;
  margin: 26px 0px 26px 425px;
}

/* 1st div button style */
.hero-header button {
  /* button outer look */
  width: 97px;
  height: 43px;
  margin: 20px 425px 20px 0px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;

  /* button inner look */
  color: rgb(0, 106, 80);
  font-family: Fira Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
}

/* button hover effect */
.hero-header button:hover {
  background-color: rgb(0, 106, 80);
  color: rgb(255, 255, 255);
}
/* 2nd div style */
.header-banner {
  display: flex;
  width: 1075.2px;
  height: 470;
  margin: 0px auto;
  justify-content: space-between;

  /* 2nd div outer look style */
  border-radius: 24px;
  background: rgb(198, 228, 214);
}

/* 3rd div style */
.header-banner-detail {
  width: 512px;
  height: 273.84px;

  margin: 98.28px 0px 98.28px 50.4px;
}

/* 3rd div h3 style */
.header-banner-detail h3 {
  color: rgba(14, 14, 14, 0.5);
  font-family: Fira Sans;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 13.44px;
}

/* 3rd div h1 style */
.header-banner-detail h1 {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 2.9rem;
  font-weight: 700;
  line-height: 3.5rem;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20.16px;
}

/* 3rd div button style */
.header-banner-detail button {
  /* button outer style */
  width: 226px;
  height: 47px;
  border-radius: 8px;
  border-style: none;
  background: rgb(0, 106, 80);

  /* button text style */
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
}

.header-banner-detail button:hover {
  background-color: #e7e7e7;
  color: rgb(0, 106, 80);
}

/* 4th div style */
.header-banner-pic {
  width: 399px;
  height: 336px;
  margin: 67.2px 50.4px 67.2px 0px;
}

/* 4th div img style */
.header-banner-pic img {
  width: 399px;
  height: 336px;
}

/* pillar section style */
#pillar {
  margin: 67.2px auto;
  max-width: 1075.2px;
}

/* under section pillar main header style */
.section-header {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 33.6px;
  font-weight: 700;
  line-height: 40.32px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 26.88px;
}

/* under 5th section div style */
#pillar .pillar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* 6th 7th 8th 9th style here */
.pillar-description {
  width: 253.68px;
  height: 230px;

  /* inner box style */
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
}

/* 6th 7th 8th 9th img gap style */
.pillar-description img {
  margin: 20px 0px 20px 20px;
}

/* 6th 7th 8th 9th headline gap & font style */
.pillar-description h1 {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 16.8px;
  font-weight: 700;
  line-height: 20.16px;
  letter-spacing: 0%;
  text-align: left;
  margin: 0px 0px 10.08px 20px;
}

/* 6th 7th 8th 9th paragraph gap & font style */
.pillar-description p {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 13.44px;
  font-weight: 400;
  line-height: 20.16px;
  letter-spacing: 0%;
  text-align: left;
  width: 213px;

  margin-left: 20px;
}

/* vision section style */
#vision {
  margin: 67.2px auto;
  max-width: 1075.2px;
}

/* vision section headline style */
.visionheadline {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 33.6px;
  font-weight: 700;
  line-height: 40.32px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20.16px;
}

/* vision section paragraph style */
.visionparagraph {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 13.44px;
  font-weight: 400;
  line-height: 20.16px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 26.88px;
}

/* under vusion section div 10th style */
#vision .vision-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* 11th div style */
.vision-description {
  width: 345px;
  height: 272.16px;

  box-sizing: border-box;
  border-radius: 16px;
  background: rgba(84, 144, 245, 0.2);
}

/* 11th div image gap style */
.vision-description img {
  margin: 27.72px 0px 21px 27.72px;
}

/* 11th div headline gap & font style */
.vision-description h1 {
  margin: 0px 0px 10.08px 27.72px;
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 16.8px;
  font-weight: 700;
  line-height: 20.16px;
  letter-spacing: 0%;
  text-align: left;
}

/* 11th div paragraph gap & style */
.vision-description p {
  margin: 0px 27.72px 20.16px 27.72px;
  width: 291.2028px;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 13.44px;
  font-weight: 400;
  line-height: 20.16px;
  letter-spacing: 0%;
  text-align: left;
}

/* 11th div button gap and inner font style */
.vision-description button {
  margin: 0px 215.6028px 27.72px 27.72px;
  width: 102.48px;
  height: 34.44px;
  border-radius: 8px;
  border-style: none;
  background: rgb(84, 144, 245);

  /* button font style */
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 13.44px;
  font-weight: 600;
  line-height: 15.96px;
  letter-spacing: 0%;
  text-align: center;
}

/* hover effect */
.vision-description button:hover {
  background-color: #04aa6d;
  color: black;
}

/* 12th div style */
.vision-description2 {
  width: 345px;
  height: 272.16px;

  box-sizing: border-box;
  border-radius: 16px;
  background: rgb(198, 228, 214);
}

/* 12th div image gap style */
.vision-description2 img {
  margin: 27.72px 0px 21px 27.72px;
}

/* 12th div headline gap & font style */
.vision-description2 h1 {
  margin: 0px 0px 10.08px 27.72px;
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 16.8px;
  font-weight: 700;
  line-height: 20.16px;
  letter-spacing: 0%;
  text-align: left;
}

/* 12th div paragraph gap & style */
.vision-description2 p {
  margin: 0px 27.72px 40.32px 27.72px;
  width: 291.2028px;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 13.44px;
  font-weight: 400;
  line-height: 20.16px;
  letter-spacing: 0%;
  text-align: left;
}

/* 12th div button gap and inner font style */
.vision-description2 button {
  margin: 0px 215.6028px 27.72px 27.72px;
  width: 102.48px;
  height: 34.44px;
  border-radius: 8px;
  border-style: none;
  background: rgb(9, 161, 92);

  /* button font style */
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 13.44px;
  font-weight: 600;
  line-height: 15.96px;
  letter-spacing: 0%;
  text-align: center;
}

/* hover effect */
.vision-description2 button:hover {
  background-color: #008cba;
  color: black;
}

/* 13th div style */
.vision-description3 {
  width: 345px;
  height: 272.16px;

  box-sizing: border-box;
  border-radius: 16px;
  background: rgba(84, 144, 245, 0.2);
}

/* 13th div image gap style */
.vision-description3 img {
  margin: 27.72px 0px 21px 27.72px;
}

/* 13th div headline gap & font style */
.vision-description3 h1 {
  margin: 0px 0px 10.08px 27.72px;
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 16.8px;
  font-weight: 700;
  line-height: 20.16px;
  letter-spacing: 0%;
  text-align: left;
}

/* 13th div paragraph gap & style */
.vision-description3 p {
  margin: 0px 27.72px 20.16px 27.72px;
  width: 291.2028px;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 13.44px;
  font-weight: 400;
  line-height: 20.16px;
  letter-spacing: 0%;
  text-align: left;
}

/* 13th div button gap and inner font style */
.vision-description3 button {
  margin: 0px 215.6028px 27.72px 27.72px;
  width: 102.48px;
  height: 34.44px;
  border-radius: 8px;
  border-style: none;
  background: rgb(255, 194, 57);

  /* button font style */
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 13.44px;
  font-weight: 600;
  line-height: 15.96px;
  letter-spacing: 0%;
  text-align: center;
}

/* hover effect */
.vision-description3 button:hover {
  background-color: #f44336;
  color: black;
}
/* 14th main div style */
.dryunus-about {
  height: 210px;
  margin-top: 26.88px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
}

/* 15th div style */
.dryunus-about-container {
  width: 1034.88px;
  background-image: url("../assets/quote-bg.png");
  background-size: 50px 50px;
  background-repeat: no-repeat;
  margin: 20px 20.16px 40.32px 20.16px;
}

/* 14th div under 15th paragraph style */
.dryunus-about p {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 13.44px;
  font-weight: 400;
  line-height: 20.16px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 19px;
}

/* 14th div under 15th heading style */
.dryunus-about h1 {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 16.8px;
  font-weight: 600;
  line-height: 20.16px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 10.08px;
}

/* 14th div under 15th div heading style */
.dryunus-about h2 {
  color: rgba(14, 14, 14, 0.6);
  font-family: Fira Sans;
  font-size: 13.44px;
  font-weight: 400;
  line-height: 20.16px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 3.36px;
}

/* option-matter section style */
#option-matter {
  margin: 67.2px auto;
  max-width: 1075.2px;
}

/* under option matter 16th div style */
#option-matter .option-matter-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-radius: 16px;
  background: rgb(255, 255, 255);
}

.option-headline {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 33.6px;
  font-weight: 700;
  line-height: 40.32px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20.16px;
  padding-left: 3px;
}

/* main table border collapse */
table {
  border-collapse: collapse;
  width: 1021.44px;
  margin-top: 26.88px;
  margin-bottom: 26.88px;
}

/* table header left side style */
.tableheader1 {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgb(198, 228, 214);
  height: 60.48px;

  /* font style */
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 16.8px;
  font-weight: 600;
  line-height: 20.16px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 20.16px;
  border-right: none;
}

/* table header right side style */
.tableheader2 {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgb(198, 228, 214);

  /* font style */
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 16.8px;
  font-weight: 600;
  line-height: 20.16px;
  letter-spacing: 0%;
  text-align: right;
  padding-right: 20.16px;
  width: 180px;
  border-left: none;
}

/* table inner side left side style */
.tablebody-td1 {
  height: 77.28px;
  width: 854.28px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgba(255, 255, 255, 0.1);

  /* font style */
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 13.44px;
  font-weight: 600;
  line-height: 15.96px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 20.16px;
}

/* table inner side right side button style */
.tablebody-td2 {
  height: 77.28px;
  width: 168px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
}

/* table inner side right side button font style */
.tablebody-td2 select {
  box-sizing: border-box;
  border: 1px solid rgb(14, 14, 14);
  border-radius: 4px;
  background: rgba(9, 161, 92, 0.15);

  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 13.44px;
  font-weight: 500;
  line-height: 15.96px;
  letter-spacing: 0%;
  text-align: center;
  width: 127.68px;
  height: 36.96px;
}

/* recent-news section style */
#recent-news {
  margin: 67.2px auto;
  max-width: 1075.2px;
}

/* #recent-news section heading font style */
#recent-news .heading {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 33.6px;
  font-weight: 700;
  line-height: 40.32px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20.16px;
  padding-left: 3px;
}

/* #recent-news section paragraph font style */
#recent-news .paragraph {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 13.44px;
  font-weight: 400;
  line-height: 20.16px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 26.88px;
  padding-left: 3px;
}
/* 16th div style */
#recent-news .recent-news-container {
  width: 100%;
}

/* 17th 23th div style */
.news1 {
  display: flex;
  margin-bottom: 20.16px;
  border-radius: 24px;
  background: rgb(255, 255, 255);
}

/* 18th 24th image div image style */
.news1-img .image1 {
  width: 342.72px;
  height: 257.04px;
  border-radius: 24px;
  margin: 40.32px 0px 40.32px 40.32px;
}

/* 19th 25th div text style */
.news1-text {
  margin: 47.04px 40.32px 47.04px 26.88px;
}

/* 19th 25th div 1st heading font style */
.news1-text .main-heading {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 26.88px;
  font-weight: 700;
  line-height: 31.92px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 10.08px;
}

/* 19th 25th div 2nd picture style */
.news1-text .aj-ja-image {
  width: 112.56px;
  height: 33.6px;
  margin-bottom: 10.08px;
}

/* 19th 25th div 2nd heading font date style */
.news1-text .date {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 13.44x;
  font-weight: 400;
  line-height: 20.16px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 10.08px;
}

/* 19th 25th div 2nd heading font time style */
.news1-text .date-time {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 13.44x;
  font-weight: 400;
  line-height: 20.16px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 10.08px;
  padding-left: 10.08px;
}

/* 19th 25th div paragraph font style */
.news1-text .paragraph {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 13.44px;
  font-weight: 400;
  line-height: 20.16px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 26.88px;
}

/* 19th 25th div button style */
.news1-text button {
  width: 116.76px;
  height: 40.32px;
  border-radius: 8px;
  border-style: none;
  background: rgb(0, 106, 80);

  /* font style */
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 15.12px;
  font-weight: 600;
  line-height: 18.48px;
  letter-spacing: 0%;
  text-align: center;
}

/* button hover */
.news1-text button:hover {
  background-color: #e7e7e7;
  color: black;
}

/* here start style for news2 */
.news2 {
  display: flex;
  flex-direction: row-reverse;
  border-radius: 24px;
  background: rgb(255, 255, 255);
}

/* 22th image div image style */
.news2-image .image2 {
  width: 342.72px;
  height: 257.04px;
  border-radius: 24px;
  margin: 40.32px 40.32px 40.32px 0px;
}

/* 20th div style */
.news2-text {
  margin: 47.04px 26.88px 40.32px 47.04px;
}

/* 21th div 1st heading font style */
.news2-text .main-heading {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 26.88px;
  font-weight: 700;
  line-height: 31.92px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 10.08px;
}

/* 21th div 2nd picture style */
.news2-text .aj-ja-image {
  width: 112.56px;
  height: 33.6px;
  margin-bottom: 10.08px;
}

/* 21th div 2nd heading font date style */
.news2-text .date {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 13.44x;
  font-weight: 400;
  line-height: 20.16px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 10.08px;
}

/* 21th div 2nd heading font time style */
.news2-text .date-time {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 13.44x;
  font-weight: 400;
  line-height: 20.16px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 10.08px;
  padding-left: 10.08px;
}

/* 21th div paragraph font style */
.news2-text .paragraph {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 13.44px;
  font-weight: 400;
  line-height: 20.16px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 26.88px;
}

/* 21th div button style */
.news2-text button {
  width: 116.76px;
  height: 40.32px;
  border-radius: 8px;
  border-style: none;
  background: rgb(0, 106, 80);

  /* font style */
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 15.12px;
  font-weight: 600;
  line-height: 18.48px;
  letter-spacing: 0%;
  text-align: center;
}

/* hover effect */
.news2-text button:hover {
  background-color: #e7e7e7;
  color: black;
}

/* donate section style  */
#donate {
  margin: 67.2px auto;
  max-width: 1075.2px;
}

/*26th div style */
#donate .donate-container {
  width: 100%;
  margin: 0px;
}

/* upper hading style */

.donate-container .heading-donate {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 33.6px;
  font-weight: 700;
  line-height: 40.32px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20.16px;
}

/* upper paragraph style */
.donate-container .paragraph-donate {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 13.44px;
  font-weight: 400;
  line-height: 20.16px;
  letter-spacing: 0%;
  text-align: center;
}

/* 27th div style */
.donate-amount {
  display: flex;
  gap: 20.16px;
  justify-content: center;
  align-items: center;
  width: 899.64px;
  height: 107.52px;
  margin: 26.88px 87.78px 26.88px 87.78px;
}

/* 28th 29th 30th 31th div amount box style */
.donate-amount .taka {
  width: 201.6px;
  height: 107.52px;

  /* 28th 29th 30th 31th div inner outer style */
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
}

/* hover effect */
.donate-amount .taka:hover {
  background-color: #ee8b84;
}

/* only 29th div style */
.donate-amount .taka200 {
  width: 201.6px;
  height: 107.52px;

  /* 28th 29th 30th 31th div inner outer style */
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(198, 228, 214);
}

/* hover effect */
.donate-amount .taka200:hover {
  background-color: #ee8b84;
}

/* 28th 29th 30th 31th div amount box font style */
.taka h1 {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 40.32px;
  letter-spacing: 0%;
  text-align: center;
  padding: 30px;
}

/* only 29th div amount box font style */
.taka200 h1 {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 40.32px;
  letter-spacing: 0%;
  text-align: center;
  padding: 30px;
}

/* 32th div style */
.other-amount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 32th div input section style */
.other-amount input {
  width: 830px;
  height: 53.76px;
  box-sizing: border-box;
  border-style: none;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
  background: rgb(255, 255, 255);

  margin: 0px 104.16px 26.88px 104.16px;
}

/* 32th div input section placeholder style */
.other-amount ::placeholder {
  color: rgba(14, 14, 14, 0.3);
  font-family: Fira Sans;
  font-size: 16.8px;
  font-weight: 400;
  line-height: 20.16px;
  letter-spacing: 0%;
  text-align: center;
}

/* 32th div done button style */
.other-amount button {
  width: 126.84px;
  height: 56px;
  box-sizing: border-box;
  border-style: none;
  border: 1px solid rgba(14, 14, 14, 0.1);
  border-radius: 8px;
  background: rgb(0, 106, 80);

  /* inner font style */
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 15.12px;
  font-weight: 600;
  line-height: 18.48px;
  letter-spacing: 0%;
  text-align: center;
}

/* hover effect */
.other-amount button:hover {
  background-color: #008cba;
}
/* subscribe section style */
#subscribe {
  margin: 67.2px auto;
  max-width: 1075.2px;
}

/* 33th div style */
#subscribe .subscribe-container {
  width: 100%;
  height: 331.8px;
  border-radius: 24px;
  background: rgb(198, 228, 214);
}

/* 34th div style */
.subscribe-details {
  display: flex;
  flex-direction: column;
}

/* 34th div heading font style */
.subscribe-details h1 {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 33.6px;
  font-weight: 700;
  line-height: 40.32px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 67.2px;
  margin-bottom: 13.44px;
}

/* 34th div inner paragraph style */
.subscribe-details p {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 13.44px;
  font-weight: 400;
  line-height: 20.16px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20.16px;
}

/* 35th div style */
.subscribe-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 36th div input style */
.input-section input {
  width: 504px;
  height: 46.2px;
  border-radius: 8px 0px 0px 8px;
  border-style: none;
  background: rgb(255, 255, 255);
}

/* 36th div inner placeholder style */
.input-section ::placeholder {
  color: rgba(14, 14, 14, 0.3);
  font-family: Fira Sans;
  font-size: 13.44px;
  font-weight: 400;
  line-height: 15.96px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 33.6px;
}

/* 37th div  subscribe button style */
.button-section button {
  width: 126px;
  height: 47.04px;
  border-radius: 0px 8px 8px 0px;
  border-style: none;
  background: rgb(0, 106, 80);

  /* font style */
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 15.12px;
  font-weight: 600;
  line-height: 18.48px;
  letter-spacing: 0%;
  text-align: center;
}

/* hover effect */
.button-section button:hover {
  background-color: rgb(120, 120, 120);
}

/* subscribe section lower paragrpaph style */
.p {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 13.44px;
  font-weight: 400;
  line-height: 15.96px;
  letter-spacing: 0%;
  margin-top: 20.16px;
  /* margin-bottom: 67.2px; */
  text-align: center;
}

/* footer style start here */
#foot .foot-container {
  margin-top: 67.2px;
  background: rgb(255, 255, 255);
}

/* 38th div heading style */
.foot-container h1 {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 26.88px;
  font-weight: 700;
  line-height: 31.92px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 42px;
  margin-bottom: 26.46px;
}

/* 38th div horizontal line style */
.foot-container hr {
  width: 942.48px;
  margin: 0 auto;
  border: 1px solid rgba(14, 14, 14, 0.1);
}

/* 40th div style */
.social-icon {
  display: flex;
  justify-content: center;
  gap: 19.32px;
  margin-top: 27.3px;
  padding-bottom: 42px;
}

.hide {
  display: none;
}

@media screen and (max-width: 576px) {
  .subscribe-container,
  .subscribe-submit {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    /* align-items: center; */
  }
  .header-banner {
    width: 100%;
  }
  .header-banner-detail {
    width: 100%;
    margin: 10px auto;
  }

  .header-banner-pic {
    margin: 50px auto;
  }
  .hero-header h1 {
    margin: 10px;
  }

  .hero-header button {
    margin: 10px;
  }

  .header-banner {
    flex-direction: column-reverse;
  }

  .vision-container {
    flex-direction: column;
  }
  .vision-description2,
  .vision-description {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .visionparagraph,
  .visionheadline {
    text-align: center;
  }

  .vision-description3 {
    margin: 0 auto;
  }
  .dryunus-about {
    height: auto;
  }
  .dryunus-about-container {
    width: 95%;
    margin: 0 auto;
  }

  .option-headline {
    text-align: center;
  }
  table {
    margin: 0px;
    border-radius: 0px;
  }
  #option-matter .option-matter-container {
    margin: 0px;
    border-radius: 0px;
  }

  #recent-news .heading {
    text-align: center;
  }
  #recent-news .paragraph {
    text-align: center;
  }
  .news1 {
    display: flex;
    flex-direction: column;
  }

  .news1-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* 18th 24th image div image style */
  .news1-img .image1 {
    width: 342.72px;
    height: 257.04px;
    border-radius: 24px;
    margin-right: 0px;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 0px;
  }

  /* 19th 25th div text style */
  .news1-text {
    margin: 47.04px 40.32px 47.04px 47.04px;
  }

  /* 17th 23th div style */
  .news2 {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    background: rgb(255, 255, 255);
  }

  .news2-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* 18th 24th image div image style */
  .news2-image .image2 {
    width: 342.72px;
    height: 257.04px;
    border-radius: 24px;
    margin-right: 0px;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 0px;
  }

  /* 19th 25th div text style */
  .news2-text {
    margin: 47.04px 40.32px 47.04px 47.04px;
  }

  .donate-amount {
    flex-direction: column;
    margin: 0px;
    justify-content: left;
    height: 100%;
    width: 99%;
  }

  .taka,
  .taka200 {
    width: 201.6px;
    height: 107.52px;
  }

  .other-amount input {
    width: 99%;
    margin-top: 20px;
    border-radius: 10px;
  }

  .subscribe-details p {
    text-align: center;
  }

  .input-section {
    display: flex;
    justify-content: center;
  }

  .input-section input {
    width: calc(100% - (10px * 2));
    border-radius: 8px;
    border-style: none;
    background: rgb(255, 255, 255);
  }

  .button-section {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .button-section button {
    border-radius: 8px;
  }

  .foot-container hr {
    width: 99.5%;
  }
}
